body
 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */


.header{
  width: 100%;
  float: left;
  background-color: brown;
  text-align: center;
  padding: 15px 15px 15px 15px;
}

.footer{
  width: 100%;
  float: left;
  background-color: brown;
  text-align: center;
  padding: 15px 15px 15px 15px;
  border-top: 1px solid;
}

.menu{
  width: 100%;
  float: left;
  text-align: center;
  background-color: #ccc;
  border-bottom: 1px solid;
}

.main{
  padding: 0px 15px 0px 15px;
  width: 100%;
  float: left;
  text-align: center;
}

.left{
  width: 30%;
  float: left;
}

.middle{
  width: 40%;
  float: left;
  background-color: grey;
}

.right{
  width: 30%;
  float: left;
}

.menu--items{
    list-style-type: none;
}

.menu--item{
  display: inline-block;
  margin: 0 10px;
}

@media (max-width: 480px){
  .middle{
    font-size: 24px;
  }
}
