{{#data}}
    <div class='list-item'>
      <div class='virsraksts' onclick='window.location.href="#page/{{id}}"'>{{title}}</div>
      <img class='image' src="{{image}}" alt="{{title}}">
      <div class='apraksts'>{{content}}</div>
    </div>
{{/data}}

{{^data}}
  no pages ;<
{{/data}}
