{{#data}}
  <div class='middle'>
    <div class='bloks'>
      <p class='virsraksts'>{{title}}</p>
      <img class='bilde' src="{{image}}" alt="{{title}}">
      <p class='paragrafs'>
        {{content}}
      </p>
    </div>
  </div>
{{/data}}

{{^data}}
  no pages ;<
{{/data}}
